* {
    font-size: 35pt;
    color: red;
    background-color: silver;
    
}

p.klasa_nieuniwersalna_wrobel { 
    font-size: 31pt;
    color: green;
} 

.kropka {
    font-size: 21pt;
    color: green;
}

/*  Wróbel Z57  */ 