#dane {
    font-size: 2cm;
    color: red;
}

#tdnone {
    font-size: 18mm;
    color: blue;
}

#tdunder {
    font-size: 22mm;
    color: green;
}

A  
    { 
        font-size: 18pt; 
    text-decoration: none; 
    } 
A:link  
    { 
    color: blue; 
    } 
A:visited  
    { 
    color: green; 
    } 
A:hover  
    { 
    color: red; 
    text-decoration: underline; 
    } 