#pogrubienie_wrobel {
    font-size: 31px;
    color: #9C5DC9;
}

#pochylona_wrobel {
    font-size: 36pt;
    color: #FFC165;
}

#index_gorny_wrobel {
    font-size: 1,1cm;
    color: #B08F15;
}

#index_dolny_wrobel {
    font-size: 1,7cm;
    color: #4CF3DD;
}


#mono_wrobel {
    font-size: 41px;
    color: #30DF;
}