 h3 {  
    width: 300pt;
    height: 4cm;
    padding: 10px; margin-left: 570px;
    background-color: rgb(240, 230, 140);
    border: purple;
    border-style: ridge;
       } 
/*  Wróbel Z34_css  */ 